.header {
    text-align: center;
    color: white;

}

body {
  
    background-image: linear-gradient(to right bottom, #ed4264a8, #ffedbca8);
}


.middle {
    width:40%;
    background: transparent;
    border-radius:8px;
    box-shadow:0 0 40px -10px #000;
    margin:calc(50vh - 220px) auto;
    padding:20px 30px;
    max-width:calc(100vw - 40px);
    box-sizing:border-box;
    font-family: sans-serif;
    position: center;
    width: 75%;
    position: relative;
    left: 50%;
    margin-left: -37.5%;

    
   
}
.button {
    color: white;
    width: 120;
    position: center;

 

}


        
   

.nav-link:hover {
    color: palevioletred;
}

.nav-link {
    color:white;
    font-family: 'Bree Serif', serif;
}

.navbar-brand {
    color:white;
    font-family: 'Bree Serif', serif;
   
}

.navbar-brand:hover {
    color: pink;
}

.button{
    background-color: palevioletred;
    border: none;
    display: flex;
	align-items: center;
    justify-content: center;
    position: center;
    
    
    
}
    

.button:active {
	transform: scale(0.98);
}

.button:focus {
	outline: none
}

